
.title{
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 18px;
    text-align: center;
}

.body{
text-align: center;

}

.darkButton{
    font-size: 12px;
    background-color: #3457AE;
    border: none;
    border-radius: 10%;
    font-family: "Open Sans";
    padding: 10px 24px;

}

.lightButton{
    border-radius: 10%;
    background-color: cornsilk;
    font-size: 12px;
    font-family: "Open Sans";
    padding: 10px 24px;
    border: 5px;


}


