.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 80%;
}

.loginForm input{
    width: 80%;
    height: 10%;
}

img{
    max-width: 10%;
}

.loginBtn{
    font-size: 2em;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    font-family: Hack;
}